
@import "../variables";
@import "../formatting_classes";

.white-background {

  padding: 10px 25px 5px 25px;

}

#about-tab-nav {

  div.center {

    padding-top: 15px;

    ul {

      li {

        width: 50%;
        min-width: 25%;

        @media screen and (max-width: $mobile-breakpoint) {

          width: 50%;
          min-width: 50%;

          &.uk-active a {

            color: $bright;
            background-color: $highlight;

          }

          a {

            border: none;
            background-color: $light;

          }

        }

      }

      li.uk-active  a {

        border-color: $highlight;

      }

      @media screen and (max-width: $mobile-breakpoint) {

        &.uk-tab::before {

          bottom: -10px;

        }

      }

    }

  }

}

#about-content {

  div.center {

    text-align: left;
    width: 90%;

  }

}