
@import "../variables";
@import "../formatting_classes";

#map, #napMap{

  height: calc(100vh - 95px);

}

#new-spot{

  position: fixed;
  bottom: 20px;
  right: 59px;

  button{

    height: 70px;
    width: 70px;
    z-index:100000;
    text-align: center;
    color: $bright;
    border-color: rgba(243, 110, 33, 0.8);
    background-color: rgba(243, 110, 33, 0.8);
    @include shadow(10px, rgba(0,0,0,0.3));

  }

  button:hover{

    background-color: rgba(243, 110, 33, 1);
    text-shadow: 0px 5px 10px rgba(0,0,0,0.2);
    @include shadow(10px, rgba(0,0,0,0.4));

  }

}

#new-spot-popup{

  width: 250px;

}

#legend {

  position: absolute;
  bottom: 15px;
  left: 1px;
  z-index: 100;
  font-family: $font-title;
  font-size: 11px;
  background: $bright;
  padding: 10px;
  margin: 10px;
  text-transform: capitalize;
  @include shadow(10px, rgba(0, 0, 0, 0.15));

  .legendSection{

    overflow: hidden;
    float: left;

    h3{

      margin: 0;
      font-size: 13px;

    }

    div{

      margin-top: 5px;

    }

  }

  .legendSection:nth-child(2){

    padding-left:10px;
    margin-left: 10px;
    border-left: 1px solid $light;

  }

  img{

    vertical-align: middle;
    margin-right: 3px;
    height: 25px;
    width: 25px;

  }

}

.gm-style-iw.gm-style-iw-c{

  padding: 0 0 0 10px !important;

  .gm-style-iw-d{ margin-bottom:-15px; }

  .gm-ui-hover-effect[title='Close']{

    top: 0 !important;
    right: 0 !important;
    background-color: transparent !important;

  }

  .infoWindowContentBox{

    overflow: visible;

    .infoWindowTitle, .infoWindowBody{ max-width: 320px; }

    .infoWindowTitle{

      margin-bottom: 8px;

      div {

        font-weight: bolder;
        color: #000;
        font-size: 1.4em;
        display: inline-block;
        margin: 5px 12px 0 0;

      }

      span {

        color: $bright;
        padding: 3px 7px;
        display: inline-block;
        background-color: $highlight;
        text-transform: capitalize;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        margin-top: 5px;

      }

    }

    .infoWindowBody {

      padding-bottom: 11px;

      p {

        margin-top: 10px;
        margin-bottom: 0;

      }

      .infoWindowIconDescriptors {

        border-top: 1px solid #ccc;

        div {

          padding-top: 6px;
          display: inline-block;
          margin-right: 14px;

        }

      }

    }

    .infoWindowAdministrative {

      margin-top: 10px;

      button {

        margin-bottom: 2px;
        border: none !important;

      }

      hr {

        margin-bottom: 10px;
        margin-top: 1px;

      }
    }

  }

}