@import url(https://fonts.googleapis.com/css?family=Montserrat:400,500,700|Raleway:300,400|Slabo+27px);#naps-header {
  color: #0f0f0f;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}

#naps-header .wrapper {
  width: calc(100% - 2em);
  min-height: 30px;
  margin: 0 auto;
}

#naps-header .wrapper #logo,
#naps-header .wrapper #left-logo {
  overflow: hidden;
}

#naps-header .wrapper #logo img,
#naps-header .wrapper #left-logo img {
  height: 30px;
}

#naps-header .wrapper #left-logo,
#naps-header .wrapper #mobile-menu-button {
  display: none;
}

#naps-header .wrapper a {
  color: #0f0f0f;
}

@media screen and (max-width: 640px) {
  #naps-header .wrapper #logo,
  #naps-header .wrapper a:not(#left-logo) {
    display: none;
  }

  #naps-header .wrapper #left-logo {
    display: block;
  }
}

/* -- Mixins -- */

/* -- Global Classes -- */

.transition {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
}

.one-quarter-width {
  width: 25%;
  overflow: hidden;
}

.three-quarter-width {
  width: 75%;
  overflow: hidden;
}

.one-third-width {
  width: 33%;
  overflow: hidden;
}

.two-third-width {
  width: 66%;
  overflow: hidden;
}

.ninety-width {
  width: calc(90% - 40px);
  padding: 40px;
  overflow: hidden;
  margin: 0 auto;
}

.content-wrapper {
  width: 90%;
  margin: 0 auto;
  display: block;
  overflow: hidden;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-center span:not(.switchery) {
  display: block;
  margin: 0 auto;
  width: 30%;
  min-width: 200px;
  text-align: center;
}

.list {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.list-item {
  list-style-type: none;
}

.material-line {
  width: 100px;
  height: 1px;
  border: none;
  margin: 0.7em auto;
  padding: 0;
  background-color: #ccc;
}

.material-input {
  padding: 7px 15px;
  border: 0px;
  background-color: transparent;
  border-bottom: 2px solid #ccc;
  font-size: 1em;
  margin: 0;
  -webkit-transition: border-color 320ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  transition: border-color 320ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
}

.material-shadow {
  -webkit-box-shadow: 0 0 5px 0 #eee;
  -o-box-shadow: 0 0 5px 0 #eee;
  box-shadow: 0 0 5px 0 #eee;
}

.material-hover:hover {
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  -webkit-box-shadow: 0 0 5px 0 #bbb;
  -o-box-shadow: 0 0 5px 0 #bbb;
  box-shadow: 0 0 5px 0 #bbb;
}

.material-input:focus {
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.material-button {
  padding: 5px 15px 5px 15px;
  border-radius: 3px;
  font-family: "Montserrat", Arial;
  font-size: 0.7em;
  background-color: #f70;
  color: #f0f0f0;
  border: 1px solid #f70;
  margin-right: 5px;
  text-transform: uppercase;
}

.material-button:hover {
  -webkit-box-shadow: 0 0 5px 0 #ddd;
  -o-box-shadow: 0 0 5px 0 #ddd;
  box-shadow: 0 0 5px 0 #ddd;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  cursor: pointer;
}

.material-button.minimal {
  background-color: #fff;
  border: 1px solid #fff;
  color: #0f0f0f;
}

.parallax-container {
  height: calc(90vh - 70px);
  display: block;
  z-index: 10;
  overflow: hidden;
  position: relative;
}

.circle {
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border: 1px solid #000;
  text-align: center;
}

.center {
  margin: 0 auto;
  text-align: center;
  display: block;
}

.hidden {
  display: none;
}

.invisible {
  opacity: 0;
}

.left {
  float: left;
}

.right {
  float: right;
}

.cursor:hover {
  cursor: pointer;
}

.padded {
  padding: 1em;
}

.padding {
  padding: 10px;
}

.padding-left {
  padding-left: 10px;
}

.padding-right {
  padding-right: 10px;
}

.padding-top {
  padding-top: 10px;
}

.padding-bottom {
  padding-bottom: 10px;
}

.margin {
  margin: 10px;
}

.margin-left {
  margin-left: 10px;
}

.margin-right {
  margin-right: 10px;
}

.margin-top {
  margin-top: 10px;
}

.margin-bottom {
  margin-bottom: 10px;
}

.block {
  display: block;
}

.fixed {
  position: fixed;
}

.relative {
  position: relative;
}

.inline-block {
  display: inline-block;
}

.bold {
  font-weight: bold;
}

.italics {
  font-style: italic;
}

.capitalize {
  text-transform: capitalize;
}

.overflow-hidden {
  overflow: hidden;
}

.white-background {
  background-color: #fff;
}

.material-icon-container {
  vertical-align: middle;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.material-icons.md-12 {
  font-size: 12px;
}

.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

body,
html {
  background-color: #f0f0f0;
}

.uk-icon-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: middle;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #0f0f0f;
}

#user-menu button {
  margin-left: 1em;
  font-weight: 600;
}

#user-menu #account-dropdown {
  position: absolute;
  top: 70px;
  left: 0;
  padding: 10px;
}

.large-header #header-top {
  line-height: 70px;
}

.small-header #sg-nav {
  height: 0;
  white-space: nowrap;
  overflow: hidden;
}

.small-header #header-top {
  line-height: 50px;
  overflow: hidden;
}

.small-header #tags {
  padding: 10px 0;
}

.small-header #tags h5 {
  display: none;
}

.small-header #logo {
  height: 60px;
}

.small-header #logo img {
  margin-top: 10px;
}

.header-scrolled {
  border-bottom: 1px solid #ccc;
  -webkit-box-shadow: 0 0 5px 0 #ccc;
  -o-box-shadow: 0 0 5px 0 #ccc;
  box-shadow: 0 0 5px 0 #ccc;
}

#logo span {
  display: inline-block;
  width: auto;
}

#menu-content {
  margin-top: -5px;
}

#menu-icon {
  height: 40px;
  line-height: 50px;
  padding: 0;
}

.large-header #menu {
  padding-top: 7px;
  height: 63px;
}

#about {
  margin-top: 3px;
}

.small-header #menu {
  padding-top: 12px;
  height: 45px;
}

.small-header #menu-content {
  margin-top: -13px;
}

nav {
  padding: 10px;
}

nav .padding-right {
  padding-right: 6px;
}

nav .logo {
  height: 50px;
  margin-top: 10px;
}

