
@import "variables";

#naps-header {

  color: $dark;
  background-color: $bright;
  border-bottom: 1px solid #ccc;

  .wrapper {

    width: calc(100% - 2em);
    min-height: 30px;
    margin: 0 auto;

    &:first-child {

      height: 30px;

    }

    .logo {

      img {

        display: inline-block;
        margin-top: 5px;
        height: 30px;

      }

    }

    .mobile {

      display: none;

      .uk-open {

        top: 45px !important;

      }

    }

    a {

      color:$dark;

    }

    .uk-navbar-right {

      .uk-navbar-dropdown {

        text-align: center;
        min-width: 160px;
        width: 160px;

        a {

          &:hover {

            color: $dark !important;
            text-decoration: underline !important;

          }

        }

      }

    }
	
	@media screen and (max-width: $mobile-breakpoint) {

      & {

        width: 100%;
        padding-right: 0;

      }

      .desktop {

        display: none;

      }

      .mobile {

        display: block;

      }

	}

  }

}

