
@import "variables";

#naps-header {

  color: $dark;
  background-color: $bright;
  border-bottom: 1px solid #ccc;

  .wrapper {

    width: calc(100% - 2em);
    min-height: 30px;
    margin: 0 auto;

    #logo, #left-logo {

      overflow: hidden;

      img {

        height: 30px;

      }

    }

    #left-logo, #mobile-menu-button {

      display: none;

    }

    a {

      color:$dark;

    }
	
	@media screen and (max-width: $mobile-breakpoint) {

      #logo, a:not(#left-logo) {

        display: none;

      }

      #left-logo {

        display: block;

      }

	}

  }

}

