
// Colors
$dim: #606266;
$dark: #0f0f0f;
$light: #f0f0f0;
$bright: #ffffff;
$highlight: #ff7700;

$body-bg: $light;

// Typography
$font-title: "Montserrat", Arial;
$font-subtitle: "Slabo", "Montserrat", Arial;
$font-body: "Raleway", "Slabo", sans-serif;

// General Variables
$mobile-breakpoint: 640px;