
// Colors
$body-bg: #f5f5f5;

$dark: #0f0f0f;
$light: #f0f0f0;
$bright: #fff;
$highlight: #f36e21;

// Typography
$font-title: "Montserrat", Arial;
$font-subtitle: "Slabo", "Montserrat", Arial;
$font-body: "Raleway", "Slabo", sans-serif;

