
@import "variables";
@import "formatting_classes";

#map, #napMap{

  height: calc(100vh - 95px);

}

#new-nap{

  position: fixed;
  bottom: 20px;
  right: 50px;
  height: 70px;
  width: 70px;
  z-index:100;
  text-align: center;
  color: $bright;
  border-color: rgba(243, 110, 33, 0.8);
  background-color: rgba(243, 110, 33, 0.8);
  @include shadow(10px, rgba(0,0,0,0.3))

}

#new-nap:hover{

  background-color: rgba(243, 110, 33, 1);
  text-shadow: 0px 5px 10px rgba(0,0,0,0.2);
  @include shadow(10px, rgba(0,0,0,0.4));

}

#legend {

  position: absolute;
  bottom: 20px;
  left: 10px;
  z-index: 100;
  font-family: $font-title;
  font-size: 11px;
  background: $bright;
  padding: 10px;
  margin: 10px;
  text-transform: capitalize;
  @include shadow(10px, rgba(0, 0, 0, 0.15));

  .legendSection{

    overflow: hidden;
    float: left;

  }

  .legendSection:nth-child(2){

    padding-left:10px;
    margin-left: 10px;
    border-left: 1px solid $light;

  }

  h3{

    margin-top: 0;
    margin-bottom: 5px;
    font-size: 13px;

  }

  img{

    vertical-align: middle;
    height: 25px;
    width: 25px;

  }

}